<div class="row mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Percentages of filled reservoir</div>
      <div class="card-body">
        <div class="mb-3">
          <label>Capacity (liters):</label>
          <input type="number" class="form-control" [(ngModel)]="capacity">
        </div>
        <div class="mb-3">
          <label>Reservoir filling speed (l/h):</label>
          <input type="number" class="form-control" [(ngModel)]="speed">
        </div>
        <div class="mb-3">
          <label>Filling duration (hours):</label>
          <input type="number" class="form-control" [(ngModel)]="duration">
        </div>
        <button class="btn btn-success" [disabled]="capacity==null || speed==null || duration==null" (click)="calculate()">Calculate</button>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Filled reservoir in %</div>
      <div class="card-body">
        <div *ngIf="water!=null"> Result: {{ water }}  </div>
        <div *ngIf="water==null">Please fill in all input fields</div>
      </div>
    </div>
  </div>
</div>
